:root{
--bgr:#2E2F42;
--logo:#4D5AE5;
--text-gero:#FFFFFF;
--text:#434455;
}

a{
    text-decoration: none;
}

.menu-list{
    list-style-type:none
}
.body{
    font-family: sans-serif;
    font-size: 16px;
}
/* Logo */
.logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.5px;
color: #4D5AE5;
}
/* Logo Dark */
.logo-dark{
    color: #2E2F42;
}

.nav-link{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5px;
letter-spacing: 0.02em;
}
/* Contacts */
.contacts{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}
/* Hero */
.hero{
font-weight: 700;
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
background-color:#2E2F42;

}
.btn:hover,
.btn:focus
/* Button */

.hero-text{
color: #FFFFFF;
background-color: #2E2F42;;
font-weight: 700;
font-size: 56px;
line-height: 60px;
}

/* functiion-2 */
.function-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
}
/* function-text */
.function-text{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}
.function-link{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #434455;
}
/*  We doing */
.we-doing2{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
color: #2E2F42;
}
/* our team */
.our-team{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
color: #2E2F42;
}
/* img-name */
.img-name{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #2E2F42;
}
/* img-work */
.img-work{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #434455;
}
/* footer */
.logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
color: #4D5AE5;
}
.logo-light{
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
color: #F4F4FD;
position: absolute;
}
/* footer-text */
.footer-text{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #E7E9FC;
}
.footer{

width: 1440px;
height: 310px;
left: 0px;
top: 2280px;
background: #2E2F42;
}
